div.content {
	margin-bottom: 20px;
}

.bcr_bek, .bcr_cast, .bcr_crew {
	padding: 15px;
	background: #f1f1f1;
	text-align: center;
	margin-bottom: 30px;
}

img.poster {
	width: 100%;
}

#ibacor_themovie ul, #ibacor_themovie li {
	list-style: none outside none;
}

#ibacor_themovie li {
	margin-bottom: 20px;
	text-align: center;
}

#ibacor_themovie iframe {
	width: 100%;
	height: 250px;
}

li.movie img {
	height: 350px;
}

div.movie figure {
	border: 1px solid #ddd;
}

div.movie img {
	height: 150px;
}

div.isi {
	padding: 15px;
	text-align: left;
}

#more_movie {
	display: block;
	text-align: center;
}

footer {
	text-align: center;
	padding: 10px
}

@media (min-width:500px) and (max-width:767px) {
	li.movie,div.movie {
		display: inline-block;
		width: 50%;
	};
}
